

<mat-card  style="width: 15%" >
    <mat-card-header>
        <mat-card-title>
            <h4>Start a Sprint</h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container" >
            <mat-form-field style="width: 100%">
              <input [(ngModel)]="postSprint.name" name="name" matInput placeholder="Name">
            </mat-form-field>
          
            <mat-form-field style="width: 100%">
                <mat-select [(ngModel)]="postSprint.duration" name="duration" placeholder="Duration">
                    <mat-option value="Instant (5s)">Instant (5s)</mat-option>
                    <mat-option value="Very short (5min)">Very short (5min)</mat-option>
                    <mat-option value="Shot (15min)">Shot (15min)</mat-option>
                    <mat-option value="Pomodoro (25min)">Pomodoro (25min)</mat-option>
                    <mat-option value="Long (45min)">Long (45min)</mat-option>
                    <mat-option value="Very long (60min)">Very long (60min)</mat-option>
                  </mat-select>
            </mat-form-field>
          
            <mat-form-field style="width: 100%">
                <input [(ngModel)]="postSprint.status"  name="status"  matInput placeholder="Status">
            </mat-form-field>
            <br>
            <button (click)="post()" mat-raised-button color="primary">Start</button> 
          </div>
    </mat-card-content>
</mat-card>



  