<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h4>Register New User</h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input [(ngModel)]="registerData.email" name="email" matInput placeholder="email" type="emal">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="registerData.pwd" name="password" matInput placeholder="password" type="password">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input [(ngModel)]="registerData.name" name="name" matInput placeholder="name" >
            </mat-form-field>
            <br>           
            <button (click)="post()" mat-raised-button color="primary">Register</button>                
        </form>
    </mat-card-content>
</mat-card>