<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>




<div class="container">
    <h3>Sprints</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Duration</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sprint of apiService.sprints">
                <td>{{sprint.name}}</td>
                <td>{{sprint.duration}}</td>
                <td>{{sprint.status}}</td>
            </tr>
        </tbody>
    </table>
</div>

